[Unit]
Description=Flask captive portal for WiFi configuration
After=portal-interface.service
Requires=portal-interface.service

[Service]
WorkingDirectory=/home/pvfll_002/pvfll/pvfll_002_screen/portal
ExecStart=/usr/bin/python3 /home/pvfll_002/pvfll/pvfll_002_screen/portal/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
